/* GENERALS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.button{
    border: none;
    border-radius: 5px;
    padding: 15px 33px 15px 41px;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.button:hover{
    cursor: pointer;
}

.pink-btn{
    background-color: #E60B7F;
}

.gold-btn{
    background-color: #CAA069;
    padding: 12px 28px;
}

.btn-selector{
    padding:  7px 30px;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #534F4F;
    margin-right: 10px;
    text-decoration: none;
}

.btn-selector.active{
    background-color: #E60B7F;
    border: 1px solid #E60B7F;
    color: white;
}

.btn-selector:hover, .btn-selector.active:hover{
    background-color: #F7A708;
    border: 1px solid #F7A708;
    color: white;
}

/* HEADER */

.header-body{
    display: flex;
    justify-content: space-between;
    background-color:  #261916;
    height: 100px;

}

.header-body > img{
    align-self: center;
    object-fit: none;
    max-width: 217px;
    height: 100%;
    margin-left: 117px;
}

.header-nav{
    background-image: url('img/Rectangle2.png');
    height: 100%;
    width: 870px;
    display: flex;
    justify-content: end;
    padding-right: 119px;
}

.nav-links{
    height: 100%;
    margin-left: 65px;
    display: flex;
}

.nav-link{
    height: 100%;
    display: flex;
    margin-left: 35px;
    align-items: center;
}


.nav-link > a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.nav-link > a.active::before{
    content: '';
    display: inline-block;
    background-color: #CAA069;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    position: absolute;
    top: -5px;
    left: -10px;
    z-index: -1;
}

.nav-link > a > img{
    height: 20px;
}

/*   MAIN   */

main section.jumbotron{
    width: 100%;
    max-height: 486px;
    background-color: black;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron img{
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
    
}

.jumbotron .jumbo-text{
    color: white;    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.jumbo-text > h1{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 90px;
    letter-spacing: 0.1em;
}

.jumbo-text > h2{
    font-family: 'Yellowtail';
    font-weight: 400;
    font-size: 90px;
    letter-spacing: 0.1em;
    transform: translate(0, -55px);
}

.articles-container{
    max-width: 1440px;
    padding: 56px 4px 0 24px;
    margin: 0 auto;
}

.articles-container .articles{
    margin: 70px 0 40px 0 ;
    display: flex;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.articles .article{
    padding: 20px 20px 0 0;
    width: calc((100%)/3);
}

.article .image{
    width: 100%;
}

.image .caption{
    display: block;
    margin: 16px 0 14px 0;
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 11px;
    letter-spacing: 0.1em;
}

.image .underline{
    width: 48px;
    border-bottom: 2px solid #E60B7F;
}

.article .title{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    margin-top: 12px;
}

/* FOOTER  */

footer{
    background-color: black;
    width: 100%;
}

footer .footer-container{
    margin: 0 68px;
    padding: 0 82px;
    border-bottom: 1px solid #CAA069;
}

.footer-container .footer-logo{
    height: 150px;
    display: flex;
    align-items: center;
}

.footer-logo img{
    max-height: 50px;
}

.footer-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-info > .column{
    width: calc((100% - 165px)/4);
    min-width: 250px;
    height: 200px;
    font-family: 'Montserrat';
    padding: 0 62px 0 0;
    margin-bottom: 45px;
}

.column > h3{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.column p{
    margin-bottom: 15px;
}

.column p a{
    text-decoration: none;
    color: #C4C4C4;
    font-weight: 400;
    font-size: 16px;
}

footer > .footer-bottom{
    padding: 27px;
    display: flex;
    justify-content: space-between;
}

.socials i{
    color: #C4C4C4;
    font-size: 20px;
    margin-right: 30px;
}

.cards img{
    height: 20px;
    margin-left: 30px;
}